<!DOCTYPE html>

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Catan Full Endea</title>
  <meta name="description" content="Catan como siempre debió ser, full endea.">
  <meta property="og:title" content="Catan Full Endea">
  <meta property="og:description" content="Catan como siempre debió ser, full endea.">
  <meta property="og:image" content="https://i.ibb.co/rRCGMpGx/full-endea.png">
  <meta property="og:url" content="https://catan-full-endea.onrender.com/">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="shortcut icon" type="image/jpg" href="/images/favicon.png" />
</head>

<div id="login">
  {{#notice}}
    <div class="notice">{{notice}}</div>
  {{/notice}}
  <div class="container"></div>
</div>
<div id="game"><div class="accessibility-zone"></div></div>

<script src="/js/login.js" type="module"></script>
