@import './constants.css';
@import './resources.css';
@import './ui/primitives.css';
@import './ui/card-legacy.css';
@import './ui/card.css';
@import './index/all-players.css';
@import './index/board.css';
@import './index/current-player.css';
@import './index/robber-drop.css';
@import './index/trade.css';
@import './index/res-selection.css';
@import './index/animations.css';
@import './index/accessibility.css';
@import './index/alert.css';
@import './fonts.css';
@import './base.css';

html {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

body {
    margin: 0;
    background: var(--water-color);
    font-family: var(--font-main), sans-serif;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    user-select: none;
    -webkit-user-select: none;
}

.splash {
    background: url(/images/catan-bg.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-board-overlay);

    &.hide {
        opacity: 0;
        z-index: -100;
        transition: opacity var(--t-slow) var(--t-slow) linear, z-index 0s 1s linear, width var(--t-slow) linear, height var(--t-slow) linear;
        /* height: 100%;
        width: 100%; */
    }
}

#game {
    .board-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        z-index: 0;
        pointer-events: auto;
        touch-action: none;
    }
}

@media screen and (min-width: 994px) {
    #game {
        /* display: flex; */
        /* justify-content: center; */
    }
}

/* https: //www.catancollector.com/catan-links/how-to-identify-your-version-of-catan */
