.res-icon {
    display: inline-block;
    height: 20px;
    width: 30px;
    margin: 0 7px 0 3px;
    vertical-align: bottom;
    background-image: url(/images/res-icons.png);
    background-repeat: no-repeat;
    --glow-color: #fff;
    filter: drop-shadow(0 0 1px var(--glow-color)) drop-shadow(0 0 1px var(--glow-color)) drop-shadow(0 0 1px var(--glow-color));

    &.S {
        background-position: -59px -3px;
        background-size: 135px;
        width: 21px;
    }

    &.L {
        background-position: -27px -3px;
        background-size: 122px;
        width: 23px;
    }

    &.B {
        background-position: -1px -6px;
        background-size: 145px;
    }

    &.O {
        background-position: -86px -1px;
        background-size: 106px;
        width: 20px;
    }

    &.W {
        background-position: -60px 0;
        background-size: 96px;
        width: 15px;
    }
}
